@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    @apply bg-white text-gray-900 antialiased transition-colors dark:bg-gray-950 dark:text-gray-100;
    font-feature-settings: "rlig" 1, "calt" 1;
    margin: 0;
    padding: 0;
  }
}
